{{> head}}

    {{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Node</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor odit nostrum modi iusto expedita perferendis fugiat aliquam, nobis quaerat quasi sed voluptates incidunt cupiditate perspiciatis atque enim debitis beatae optio?</p>
    </div>

    <div class="col-4">
        <img src="assets/img/node.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer}}